/* 🤡🤡🤡🤡🤡🤡🤡🤡 Custom Colors start 🤡🤡🤡🤡🤡🤡🤡🤡 */
.main-color{
    color: #570DF8;
}
.main-color2{
    color: #7842E5;
}
.sub-color{
    color:#00033E;
}
.sub-color2{
    color: #F000B8;
}
.text-color{
    background: -webkit-linear-gradient(60deg, #570DF8, #7842E5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-main{
    background-color:#570DF8 ;
}
.bg-main2{
    background-color:#7842E5 ;
}
.bg-sub{
    background-color: #00033E;
}
.bg-sub2{
    background-color:#F000B8 ;
}
.bg-color{
    background-image: linear-gradient(60deg, #570DF8, #7842E5);
}
/* 🤡🤡🤡🤡🤡🤡🤡🤡 Custom Colors end 🤡🤡🤡🤡🤡🤡🤡🤡 */
