.slider-img-1{
    background-image: url("https://i.ibb.co/0G8fCQf/Untitled-design-1-min.png");
    background-size: cover;
    width: 100%;
    height: 80vh;
    background-position: center center;
}
.slider-img-2{
    background-image: url("https://i.ibb.co/Kwm5hwL/Untitled-design-2-min.png");
    background-size: cover;
    width: 100%;
    height: 80vh;
    background-position: center center;
}
.slider-img-3{
    background-image: url("https://i.ibb.co/9Vkzy3C/Untitled-design-min.png");
    background-size: cover;
    width: 100%;
    height: 80vh;
    background-position: center center;
}
.slider-text{
    margin-bottom: 110px;
}
.img-rounded-start {
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

.c-rounded-bottom {
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.shipping-img {
    background-image: url('https://i.ibb.co/j4NBnxq/Untitled-design-min-1.png');
    background-size: cover;
    width: 100%;
    height: 70vh;
    background-position: center center;
}

.custom-color {
    background-color: #D268CC;
}

.custom-color2 {
    background-color: #007DFE;
}

.custom-color3 {
    background-color: #3ABFF8;
}

.cart-img-div {
    height: 200px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-div {
    height: 500px;
}

.sm-div {
    height: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.review-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #7842E5;
    margin-top: -70px;
    margin-left: auto;
    margin-right: auto;
}

.quote-img {
    margin-top: 30px;
    margin-bottom: 30px;
    transform: rotate(180deg);
    width: 90px;
    height: px;
    margin-left: 5px;
    margin-right: 5px;
    background-image: linear-gradient(20deg, #570DF8, #7842E5);
    padding: 10px;
    border-radius: 50%;
}

.sid-nav {
    position: fixed;
    top: 70px;
    left: 0px;
    height: 100vh;
}
.link-hover:hover{
    background-color:lightgray;
}

@media only screen and (max-width: 576px) {
    .img-rounded-start {
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
        border-bottom-left-radius: 0px;
    }
}